{% extends 'redefinirsenha.html' %}
{% load static %}
{% block 'contexto' %}
<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-password-image">
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-2">Esqueceu sua senha?</h1>
                                    <p class="mb-4">
                                        Um e-mail foi enviado para sua caixa de entrada. </p>
                                </div>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="{% url 'cadastro' %}">
                                        Crie a sua conta aqui!</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="{% url 'login' %}">já tem uma conta? Entre aqui!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
{% endblock %}