<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
    <script src="templates/static/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <title>4 F4V3L4 3 N015  - Recuperar Senha</title>
    <body>
        <div class="l-bg-blue-dark" align="middle">
            <h1 class="text-gray-900 mb-2">F4V3L4</h1>
            <h2 style="text-transform: uppercase">Redefinir Senha</h2>
            <br>
            <h3>Olá ! 
                <br>
                <br>
             <a href="http://127.0.0.1:8000/auth/alt_senha/?token={{ token }}">Clique aqui.</a> para recuperar sua senha : </h3>
            <br>
            <small>Atenciosamente, equipe de Suporte</small>
        </div>
    </body>
</html>