{% extends 'base.html' %}

{% block 'usuario' %}
<span>{{ user }}</span>
{% endblock 'usuario' %}

{% load bootstrap %}

{% block 'js' %}
{% endblock 'js' %}

{% block 'blankPage' %}
    {% load static %}
    <form method="POST" action="{% url 'cPedidos' %}">
        {% csrf_token %}
        <div class="container">
            <div class="row form-group">
                <div class="col-sm-12">
                      <div class="form-group row">
                        <div class="col-sm-7 form-group">
                            {{ form.titulo|bootstrap }}
                        </div>
                        <div class="col-sm-8 form-group">
                          {{ form.categoria|bootstrap }}
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                              {{ form.imagem|bootstrap }}
                            </div>
                        </div>
                        <div class="col-sm-12 form-group">
                          {{ form.descricao|bootstrap }}
                        </div>
                        <div class="col-sm-3 form-group">
                          {{ form.cep|bootstrap }}
                        </div>
                        <div class="col-sm-9 form-group">
                            {{ form.rua|bootstrap }}
                        </div>
                        <div class="col-sm-3 form-group">
                          {{ form.numero|bootstrap }}
                        </div>
                        <div class="col-sm-9 form-group">
                          {{ form.complemento|bootstrap }}
                        </div>
                        <div class="col-sm-5 form-group">
                            {{ form.bairro|bootstrap }}
                        </div>
                        <div class="col-sm-5 form-group">
                            {{ form.cidade|bootstrap }}
                        </div>
                        <div class="col-sm-2 form-group">
                            {{ form.uf|bootstrap }}
                    </div>
                    <input type="submit" class="btn btn-primary col-sm-12 " name="enviar" values="Enviar">
                </div>
            </div>
        </div>
    </form>
        <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Pronto para sair?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Selecione "Sair" se estiver pronto para encerrar sua sessão atual.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href='{% url "sair" %}'>Sair</a>
                </div>
            </div>
        </div>
    </div>
{% endblock 'blankPage' %}
