{% extends 'base.html' %}
{% load static %}
{% block 'blankPage' %}
    <form method="POST">
        <div class="container">
            <div class="row form-group">
                <div class="col-sm-4 form-group" >
                    <label for="valor">Valor</label>
                    <input type="" name="descricao" class="form-control col-sm-12">
                </div>
                <div class="col-sm-4 form-group" >
                    <label for="valor">Prev.Inicio</label>
                    <input type="date" name="descricao" class="form-control  col-sm-12">
                </div>
                <div class="col-sm-4 form-group" >                              
                    <label for="valor">Prev.Término</label>
                    <input type="date" name="descricao" class="form-control col-sm-12">
                </div>
                <div class="col-sm-12 form-group" >                              
                    <label for="valor">Observações</label>
                    <textarea class="form-control col-sm-12" >
                    </textarea>
                </div>
                <div class="col-sm-12 form-group">
                    <button class="btn btn-primary col-sm-12">Enviar</button>
                </div>
            </div>
        </div>
    </form>
{%  endblock %}

