{% extends 'base.html' %}
{% load static %}
{% block 'usuario' %}
<span>{{ user }}</span>
{% endblock 'usuario' %}
{% block 'js' %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<link href="static/css/estilo.css" rel="stylesheet">
{% endblock %}
{% block 'blankPage' %}
    <ul class="nav nav-pills mb-3 nav-fill" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-pedidos-tab" data-toggle="pill" href="#pills-pedidos" role="tab" aria-controls="pills-pedidos" aria-selected="true">Pedidos Disponíveis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-meusPedidos-tab" data-toggle="pill" href="#pills-meusPedidos" role="tab" aria-controls="pills-meusPedidos" aria-selected="false">Meus Pedidos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-pedSolicitados-tab" data-toggle="pill" href="#pills-pedSolicitados" role="tab" aria-controls="pills-pedSolicitados" aria-selected="false">Pedidos que eu solicitei</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-profissionais-tab" data-toggle="pill" href="#pills-profissionais" role="tab" aria-controls="pills-profissionais" aria-selected="false">Profissionais</a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-pedidos" role="tabpanel" aria-labelledby="pills-pedidos-tab">
        <!-- inicio pedidos -->
        {% for pedido in pedidos %}
          {% if pedido.categoria_fk.categoria in 'Automóveis' %}
            <div class="row ">
                    <div class="col-xl-6 col-lg-8 ">
                      <form method="POST" action="{% url 'detalhesPedidos' %}">{% csrf_token %}
                        <div class="card l-bg-blue-dark">
                            <div class="card-statistic-3 p-4">
                                <div class="card-icon card-icon-large"><i class="fas fa fa-car"></i></div>
                                <div class="mb-3">
                                  <input name="pedido" value={{pedido.id}} type="hidden"></input>
                                    <h5 class="card-title mb-0">{{pedido.categoria_fk.categoria}}</h5>
                                </div>
                                <div class="row align-items-center mb-2 d-flex">
                                    <div class="col-8">
                                        <h4 class="d-flex align-items-center mb-0">
                                            {{pedido.titulo}}
                                        </h4>
                                    </div>
                                    <div class="col-8">
                                        <h6 class="d-flex align-items-center mb-0">
                                            {{pedido.descricao}}
                                        </h6>
                                    </div>                                    
                                </div>
                                <div data-height="50" style="height: 18px;">
                                    <div>
                                      <button class="btn l-bg-green-dark" style="width:100%;height:35px;" >Ver mais  <i class="fa fa-eye"></i></button>
                                    </div>
                                </div>

                            </div>
                      </div>
                    </form>
                    </div>
            </div>
          {% endif %}
          {% if pedido.categoria_fk.categoria in 'Beleza' %}
            <div class="row ">
                <div class="col-xl-6 col-lg-8 ">
                    <form method="POST" action="{% url 'detalhesPedidos' %}">{% csrf_token %}
                      <div class="card l-bg-cherry">
                          <div class="card-statistic-3 p-4">
                              <div class="card-icon card-icon-large"><i class="fas fa fa-star"></i></div>
                              <div class="mb-3">
                                <h5 class="card-title mb-0">{{pedido.usuario_fk.username}}</h5>
                              </div>
                              <div class="mb-3">
                                <input name="pedido" value={{pedido.id}} type="hidden"></input>
                                  <h5 class="card-title mb-0">{{pedido.categoria_fk.categoria}}</h5>
                              </div>
                              <div class="row align-items-center mb-2 d-flex">
                                  <div class="col-8">
                                      <h4 class="d-flex align-items-center mb-0">
                                          {{pedido.titulo}}
                                      </h4>
                                  </div>
                                  <div class="col-8">
                                      <h6 class="d-flex align-items-center mb-0">
                                          {{pedido.descricao}}
                                      </h6>
                                  </div>                                    
                              </div>
                              <div data-height="50" style="height: 18px;">
                                  <div>
                                    <button class="btn l-bg-cyan" style="width:100%;height:35px;" >Ver mais  <i class="fa fa-eye"></i></button>
                                  </div>
                              </div>

                          </div>
                      </div>
                    </form>
                </div>
            </div>
          {% endif %}
          {% if pedido.categoria_fk.categoria in 'Serviços e reparos' %}
              <div class="row ">
                  <div class="col-xl-6 col-lg-8 ">
                        <div class="card l-bg-green-dark">
                          <form method="POST" action="{% url 'detalhesPedidos' %}">
                            {% csrf_token %}
                            <div class="card-statistic-3 p-4">
                                <div class="card-icon card-icon-large"><i class="fas fa fa-wrench"></i></div>
                                <div class="mb-3">
                                  <h5 class="card-title mb-0">{{pedido.usuario_fk.username}}</h5>
                                </div>
                                <div class="mb-3">
                                  <input name="pedido" value={{pedido.id}} type="hidden"></input>
                                  <h5 class="card-title mb-0">{{pedido.categoria_fk.categoria}}</h5>
                                </div>
                                <div class="row align-items-center mb-2 d-flex">
                                    <div class="col-8">
                                        <h4 class="d-flex align-items-center mb-0">
                                            {{pedido.titulo}}
                                        </h4>
                                    </div>
                                    <div class="col-8">
                                        <h6 class="d-flex align-items-center mb-0">
                                            {{pedido.descricao}}
                                        </h6>
                                    </div>                                    
                                </div>
                                <div data-height="50" style="height: 18px;">
                                    <div>
                                      <button class="btn l-bg-orange-dark" style="width:100%;height:35px;" >Ver mais  <i class="fa fa-eye"></i></button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                  </div>
              </div>
          {% endif %}           
        {%endfor%}
        <!-- final pedidos -->
      </div>
      <div class="tab-pane fade" id="pills-meusPedidos" role="tabpanel" aria-labelledby="pills-meusPedidos-tab">Meus Pedidos</div>
      <div class="tab-pane fade" id="pills-pedSolicitados" role="tabpanel" aria-labelledby="pills-pedSolicitados-tab">Pedidos solicitados</div>
      <div class="tab-pane fade" id="pills-profissionais" role="tabpanel" aria-labelledby="pills-profissionais-tab">Profissionais</div>
    </div>
{% endblock 'blankPage' %}
{%  block 'css' %}
<link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
{% endblock %}
