{% extends 'base.html' %}
{% load static %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{% static 'js/funcoesJavascript.js' %}"></script>

{% block 'blankPage' %}
    <div class="container">
        <div class="row gutters">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="account-settings">
                            <div>
                              <div class="">
                                <div class="image">
                                  <div class="editar-content">
                                    <span>
                                      <i>editar</i>
                                    </span>
                                  </div>
                                  {%if user.foto_perfil %}
                                    <div id="new">
                                      <div class="close-preview-js close-preview">x</div>
                                    </div>
                                      <div class="image">
                                        <img src="{{user.foto_perfil}}">
                                      </div>
                                    </div>
                                    <br>
                                    <label for="file-preview-js" class="custom-file-upload">
                                      <img class="img-profile rounded-circle" src="/static/img/edit.jpg" height="20" width="20" align="right"></label>
                                    <input id="file-preview-js" type="file" accept="image/*" onchange="loaderFile(event)">
                                  {% else %}
                                      <div id="new">
                                        <div class="close-preview-js close-preview">x</div>
                                      </div>
                                      <img src="/static/img/profile.png" alt="Sem imagem">
                                    </div>
                                    <br>
                                    <label for="file-preview-js" class="custom-file-upload">
                                    <img class="img-profile rounded-circle" src="/static/img/edit.jpg" height="20" width="20" align="right"></label>
                                    <input id="file-preview-js" type="file" accept="image/*" onchange="loaderFile(event)">
                                {% endif %}
                              </div>
                            </div>
                            <div>
                                <br>
                                <br>
                                <h5 class="user-name">{{user.username}}</h5>
                                <h6 class="user-email">{{user.email}}</h6>
                            </div>                            
                            <div class="about">
                                <h5 class="mb-2 text-primary">Sobre</h5>
                                <textarea class="form-control" rows="6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in tincidunt tellus, id aliquet lectus. Nunc eu imperdiet enim. Integer dictum mi at imperdiet fringilla. Quisque elementum varius viverra. Nam eleifend quam sapien, vel iaculis nisl dapibus nec. Nullam turpis.</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-3 text-primary">Perfil</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="fullName">Nome</label>
                                    <input type="text" class="form-control" id="fullName" value="{{user.first_name}} {{user.last_name}}">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="eMail">Email</label>
                                    <input type="email" class="form-control" id="eMail" value="{{user.email}}">
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-9">
                              <div class="form-group">
                                  <label for="contato">Tipo</label>
                                  <select class="form-control" id="website">
                                    <option>Telefone</option>
                                    <option>Facebook</option>
                                    <option>Twitter</option>
                                    <option>Instagram</option>
                                    <option>Linkedin</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                                <div class="form-group">
                                    <label for="contato">Contato</label>
                                    <input type="url" class="form-control" id="contato">
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-9">
                              <div class="form-group">
                                  <label for="btnContato">tipo</label>
                                  <input type="button" onclick="insereNaTabela();" class="btn btn-primary" id="btnContato" value="Adicionar">
                              </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-9">
                              <div class="form-group">
                                <table class="table table-striped" id="tabela">
                                  <thead>
                                    <tr>
                                      <th scope="col">Tipo</th>
                                      <th scope="col">Contato</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Mark</td>
                                      <td>Otto</td>
                                    </tr>
                                    <tr>
                                      <td>Larry</td>
                                      <td>the Bird</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-3 text-primary">Address</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="Street">Street</label>
                                    <input type="name" class="form-control" id="Street" placeholder="Enter Street">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="ciTy">City</label>
                                    <input type="name" class="form-control" id="ciTy" placeholder="Enter City">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="sTate">State</label>
                                    <input type="text" class="form-control" id="sTate" placeholder="Enter State">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="zIp">Zip Code</label>
                                    <input type="text" class="form-control" id="zIp" placeholder="Zip Code">
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="text-right">
                                    <button type="button" id="submit" name="submit" class="btn btn-secondary">Cancelar</button>
                                    <button type="button" id="submit" name="submit" class="btn btn-primary">Atualizar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

{% endblock %}
{% block 'css' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profileestilo.css' %}">
{% endblock %}





