{% extends 'base.html' %}
{% load static %}
{% block 'blankPage'%}
<div class="col-sm-5">
  {% if messages %}
      {% for message in messages %}
          <div class="alert {{message.tags}}">
              {{message}}
          </div>
      {% endfor %}
  {% endif %}
</div>
<nav aria-label="Navegação de página exemplo">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Anterior</a>
        </li>
      {% endif %}
      <li class="page-item disabled">
        <a class="page-link" >Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}. </a>
      </li>
    <li class="page-item">
      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">Próximo</a>
        </li>
      {%else%}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Próximo</a>
        </li>
      {% endif %}
    </li>
  </ul>
</nav>
<form method="POST" action="{% url 'prop_enviadas' %}">
  {% csrf_token %}
  {% for p in page_obj %}
      <div class="row">
      <div class="col-xl-6 col-lg-8 ">
      <div class="card l-bg-blue-dark">
          <div class="card-body">
          <h7 class="card-title">Enviada para :
              {{p.usuarioProposta_fk.first_name}}
              {{p.usuarioProposta_fk.last_name}}
          </h7>
          <p class="card-text">R$ {{p.valor}} </p>
          <input type="hidden" id="valor{{p.id}}"value="{{p.valor}}">
          <p class="card-text">{{p.observacao}}</p>
          <input type="hidden" id="obs{{p.id}}"value="{{p.observacao}}">
          <p class="card-text">Data de Início {{p.prevInicio}}</p>
          <input type="date" id="datIni{{p.id}}"value="{{p.prevInicio}}" date="{{p.prevInicio}}">
          <p class="card-text">Prazo de conclusão {{p.prazo}} dias úteis</p>
          <input type="hidden" id="prazo{{p.id}}"value="{{p.prazo}}">
          {% if p.propostaAceita %}
              <span>Status :</span>
              <p class="card-text">Aceita</p>
          {% elif p.propostaAceita == False %}
              <span>Status :</span>
              <p class="card-text">Recusada</p>
          {% else  %}
          <span>Status :</span>
              <p class="card-text">Aguardando resposta</p>
          {% endif %}
          <div class="card-footer" style="background: inherit;">
              <a data-bs-toggle="modal" 
              data-bs-target="#mdlAlterar" class="btn btn-primary" onclick="alteraProposta({{p.id}})">Alterar</a>
              <a data-bs-toggle="modal" 
              data-bs-target="#mdlExcluir" class="btn btn-danger" onclick="excluiProposta({{p.id}})">Excluir</a>
          </div>
          </div>
      </div>
      </div>  
      </div>
  {%endfor%}

  <nav aria-label="Navegação de página exemplo">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Anterior</a>
          </li>
        {% endif %}
        <li class="page-item disabled">
          <a class="page-link" >Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}. </a>
        </li>
        <li class="page-item">
        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Próximo</a>
          </li>
        {%else%}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Próximo</a>
          </li>
        {% endif %}
      </li>
    </ul>
  </nav>
  <div class="modal" tabindex="-1" id="mdlExcluir" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Excluir </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input class="page-control" type="hidden" id="excluir" value="{{p.id}}" name="id">
          <p>Deseja Realmente excluir a proposta ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Sair</button>
          <button type="submit" class="btn btn-danger" name="exclui_proposta">Excluir</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" tabindex="-1" id="mdlAlterar" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Excluir </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input class="page-control" type="text" id="alterar" value="{{p.id}}" name="id">
            <input name="pedido" value="{{p.id}} "type="hidden"></input>
              <div class="modal-body">
                <div class="col-sm-4 form-group" >
                  <label for="valor">Valor</label>
                  <input type="text" id="valor" name="valor" 
                  class="form-control col-sm-12" onkeyup="formatarMoeda();"/>
                </div>
              <div class="col-sm-12 form-group" >
                <label for="valor">Observações</label>
                <textarea class="form-control col-sm-12" id="obs" name="observacao" >
                </textarea>
              </div>
              <div class="col-sm-12 form-group" >
                <label for="prevInicio">Prev.Inicio</label>
                <input type="date" id="prevInicio" name="prevInicio" class="form-control  col-sm-12">
                <label for="prazo">Prazo Término</label>
                <input type="number" name="prazo" id="prazo" class="form-control  col-sm-12">
              </div>
              <div class="col-sm-4 form-group" >
              </div>
            </div>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Sair</button>
          <button type="submit" class="btn btn-secondary" name="altera_proposta">Alterar</button>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}  
{% block 'js' %}
<script src="{% static 'js/excluirPropostas.js' %}"></script>
{% endblock  %}

